.features-icon__iten-antenna{
    width: 70px;
    height: 70px;
}
.features-icon{
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    @extend %bg;
    background-color: #f5f4fa;
}
.features-list__mobile-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    
}
.features-icon__title {
    font-family: Roboto;
    @include font (14px, 700, 16px, 0.03em);
    align: left;
    display: flex;
     margin-bottom: 10px;
     text-transform:uppercase;
    }

.features-icon__text{
    font-family: Roboto;
    @include font (14px, 400, 16px, 0.03em);
    color: #757575;
    margin: 0;
    width: 270px;
    
}

.features-list{
    display: flex;
    margin: 0 auto;
    margin-left: -27px;

}
.section{
    font-family: Roboto;
    @include font (14px, 700, 16px, 0.03em);
    padding-top: 107px;
    padding-bottom: 100px;
    display: block;
    box-sizing: border-box;
}
