.clients-section {
    background-color: var(--title--text-color);
}

.clients-section__title {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    font-family: Roboto;
font-style: normal;
text-align: center;
@include font (36px, 700, 42px, 0.03em );
color: var(--primary-text-color);
}

.clients-list {
    @extend %align-items;
    justify-content: center;
    fill: currentColor;
    
}
.clients-list__item {
    @extend %align-items;
    justify-content: center;
    & + .clients-list__item {
        margin-left: 30px;
    }
    
}
.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    &:hover .clients-list__clients, 
    &:focus .clients-list__clients {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
}
   
.clients-list__clients {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 60px;
    fill: #afb1b8;
  
}
