.hero{
    margin: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../ipg1/Img14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

 
}
.hero-title {
    width: 696px;
margin: auto;
margin-bottom: 45px;
}

.hero-title{
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
    color: var(--title--text-color);   
}