.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    height: 44px;
    width: 44px;
    background-color: var(--primary-white-color);
    fill: var(--icon-background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s, 0s;
    &:hover,
    &:focus {
       background-color: var(--accent-color);
       &.social-icon {
        fill: var(--title--text-color);
    }
   }
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
}

.masters-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: .03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.masters{
    display: block;
    padding: 94px 0;
    padding-top: 94px;
    padding-right: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
    background-color: #F5F4FA;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
}
.masters-item {
        background-color: var(--title--text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
    margin-right: 30px;
        }
    }

.gallery-text-item{
    padding: 30px;
}
.masters-item-bottom{
    padding: 30px 0;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;;

}
.masters-item-text{
        font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 30px;
    
    }
    .masrers-item-title {
        font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 10px;
    
    }

.masters-item-text {
    font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
    color: var(--second-text-color);
}