.gallery-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.work {
  font-family: Roboto;
font-style: normal;
@include font (14px, 700, 17px, 0.03em);
text-align: center;
text-transform: uppercase;
  position: absolute;
  bottom: 0;
  @extend %bg;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--title--text-color);    
}

.gallery{
  padding-bottom: 94px;
}
.gallery-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.gallery-title {
  font-family: Roboto;
font-style: normal;
text-align: center;
@include font (36px, 700, 42px, 0.03em);
margin: auto;
margin-bottom: 50px;
  color: var(--primary-text-color);
}

.gallery-top-text {
font-family: Roboto;
font-style: normal;
@include font (18px, 400, 28px, 0.03em);
color: var(--title--text-color);
}

.gallery-top-wrapper {
  position: relative;
  overflow: hidden;

}